/* General styles */
.intro {
  display: flex
;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: ivory;
  
}
body {
  font-family: Arial, sans-serif;
  
  margin: 0;
  padding: 0;
  background-color: #ecf0f1;
  font-size: 1.2rem;
  font-weight: 400
}
html {
  box-sizing: border-box;
  
  scroll-behavior: smooth;
}
h1 {
  font-family: Impact, sans-serif;
  color: #212f3c;
  text-align: center;
  }
  p {
    text-align: center;
    
      
  
  }
 h2 {font-family: Impact, sans-serif;
  color: #2e4053;
  text-align: center;
  }
header {
  background: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

main {
  padding: 1rem;
}

.blog-post {
  border: 1px solid #ccc;
  margin: 1rem 0;
  padding: 1rem;
}

.blog-post h2 a {
  text-decoration: none;
  color: #333;
}

.blog-post h2 a:hover {
  color: #007BFF;
}

/* Footer styles */
footer {
  text-align: center;
  padding: 1rem;
  background: #333;
  color: #fff;
}
pre {
  text-align: center;
}
.loopExample {
  text-align: center;
  list-style-type: none;
}
#message {
  color: blue;
  margin-top: 10px;
}
button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
/* Responsive design using media queries */
@media (max-width: 768px) {
  body {
    font-size: 0.9rem;
  }

  .blog-post {
    padding: 0.5rem;
  }

  header, footer {
    padding: 0.5rem;
  }
}
