body {
  font-family: 'Georgia', serif; 
  line-height: 1.6;
  margin: 10;
  padding: 10;
  background-color: #f9f9f9; 
  color: #333;
}

h1 {
color: #273746;
}
p {
  font-family: 'Georgia', serif; 
  line-height: 1.8;
  color: #455;
}

  