/* Te Houtqewa */

.proverb {
  text-align: center;
  font-family: 'Georgia', serif;
  font-weight: bold;
  line-height: 2;
}

h2 em {
  display: block;
  font-size: 0.8em;
  margin-top: 0.3em;
}

.story {
  color: #444;
  font-size: 1.1rem;
  margin: 0 auto 1.2rem;
  max-width: 60ch;
  line-height: 1.6;
}

.date {
  font-size: 1.3rem;
  text-align: center;
  margin: 1.5rem o 1rem;
  letter-spacing: 0.5px;
}
.title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 2rem 0 1.5rem;
  letter-spacing: 1px;
}
