
h1 {
  font-family: Impact, sans-serif;
  color: #CE5937;
  text-align: center;
  }
  p {
    text-align: center;
  }
  body {
    background-color: #33e9ff 
  }
  h2 {font-family: Impact, sans-serif;
  color: #CE5937;
  text-align: center;
  }
    
  